body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}


*{
    padding: 0;
    margin: 0;
}


header{
    color: #666262a3;
}

button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
    color: white;
    transition: opacity 0.35s;
}


header .logo{
    text-align: center;
    font-style: italic;
    font-family: cursive;
}


main .task-insertion{
    margin: 6% 0 0 3%;
    text-align: center;
}


main .task-input{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #666262a3;
    color: #474646;
    outline: none;
}


main .task-input::placeholder{
    font-weight: 600;
    font-size: 1em;
}


main .add-btn{
    background-color: #8d54057c;
    color: whitesmoke;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
    transition: opacity 0.35s;
}


main .submit-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}


main .tasks-container{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 10px;
}


main .task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    padding: 10px;
    border: 2px solid #666262a3; 
    border-radius: 10px;
    color: #474646;
    width: 80%;
    text-transform: capitalize;
    margin-left: 5%;
    margin-top: 5px;
}


main .update-btn,.delete-btn{
    padding: 5px;
    color: whitesmoke;
    text-transform: capitalize;
    cursor: pointer;
}


main .update-btn,.submit-update{
    background-color: #8d54057c;
}


main .delete-btn,.reset-btn{
    background-color: #cd5151;
}


main .update-task{
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    align-items: center;
    column-gap: 5px;

}

main textarea{
    width: 500px;
    border-radius: 5px;
}

